$color-blue: #2bc8ff;
$color-blue-light: #dbf6fd;

$color-orangered: #ff723a;
$color-orangered-light: #fee4cb;

$color-green: #02d052;
$color-green-light: #baf3d2;

$color-pink: #ff72ac;
$color-pink-light: #ffd3e2;

$color-white: #ffffff;
$color-black: #1f1c2f;
$color-black-light: #1f1c2fcc;
$color-gray: #8e8e90;

$color-bg: #f3f6fd;
